<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: red;
        }
    </style>
</head>
<body>
    <h3>Hello {{studentName}},</h3>
    <h5>Your Registration for RCME Drawing Competition was successful. Please attach your drawing <a href=`https://localhost:3001/upload/${uniqueid}`>here</a> 
    OR use this is {{uniqueid}} and upload <a href=`https://localhost:3001/upload`>here</a> 
    
    </h5>


</body>
</html>